<!DOCTYPE html>
<html>

<head>
  <title>TweetReader</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>

  <header>
    <nav>
      <% if user_signed_in? %>
      <%= link_to 'マイページ', tweet_readers_show_path %>
      <%= link_to '退会', edit_user_registration_path %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to 'ログイン', new_user_session_path %>
      <% end %>
    </nav>
  </header>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
</body>

</html>